.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: auto;
    height: auto;
    background-color: #83F0FF;
}

.textConfig {
    font-size: 18px;
    text-align: right;
    margin-bottom: 4vh;
}
.textConfig2 {
    font-size: 18px;
    text-align: left;
    margin-bottom: 4vh;
}

.textContainer{
    position: relative;
    max-width: 700px;
    margin: auto;
    margin-top: 10vh;
    margin-left: 4vw;
    right: 5vw;
    color: black;
}

.textContainerConfig{
    justify-content: center;
    position: relative;
    font-size: 25px;
    text-align: left;
    top: -52vh;
    left: 11vh;
    font-weight: bold;
    color: white;
}