.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: auto;
    height: auto;
    background-color: #1E1E1E;
}

.textConfig {
    color: white;
    font-size: 20px;
    text-align: left;
    margin-bottom: 4vh;
}
.textConfig2 {
    color: white;
    font-size: 20px;
    text-align: right;
    margin-bottom: 4vh;
}

.textContainer{
    max-width: 700px;
    margin: auto;
    margin-top: 15vh;
    margin-left: 55px;
}

.textContainerConfig{
    justify-content: center;
    position: relative;
    font-size: 30px;
    text-align: right;
    top: -60vh;
    left: 23vh;
    font-weight: bold;
}