.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    height: auto;
    background-color: #1E1E1E;
}

.firstDiv{
    display: flex;
    flex-direction: row;
}

.textConfig1{
    color: white;
    font-size: 40px;
    width: 40%;
    margin-top: 120vh;
    text-align: right;
}

.SecondDiv{
    margin-top: 80vh;
    display: flex;
    flex-direction: row;
}

.textConfig2{
    color: white;
    font-size: 40px;
    width: 40%;
    text-align: left;
    margin-left: 10vh;
}

.ThreeDiv{
    background-color: #5E5CCA;
    font-family: 'Open Sans';
    width: 100%;
    height: 100%;
    font-weight:bolder;
    justify-content: center;
    align-items: center;
}

.tituloconfig{
    font-family: 'Open Sans';
    font-size: 180px;
    color: white;
    padding-top:5vw;
    padding-left: 20vh;
    padding-right: 20vh;
}

.subTextConfig{
    font-size: 36px;
    color: white;
    font-family: 'Open Sans';
    padding-left: 20vh;
    padding-right: 20vh;
    padding-bottom: 40vh;

}